<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" defer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./one.js" defer></script>
    <title>Document</title>
</head>
<body>
<div id="app-7">
    <input type="text" v-model="message" placeholder="add an item">
   <p>{{ message }}</p>
    <ol>
  <li v-for="todo in todos">
      {{ todo.text }}
  </li>
</ol>
  <button v-on:click="addToList">Add to list</button>
 </div>
</body>
</html>